@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Vaje 2 - izpis produktov iz baze</h1>
    
</div>

<div class="card-columns">


    @foreach (var product in Model.Products)
    {
        <div class="card">
            <div class="card-img" style="background-image: url('@product.Image');"></div>
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">@product.Maker</h6>
                <p class="card-text">@product.Description</p>
                <a href="@product.Url" target="_blank" class="btn btn-primary">More</a>
            </div>
        </div>
    }


</div>
